<div class="store-container">
  <div class="chart">
    <div class="canvas-wrapper">
      <canvas
        width="500px"
        baseChart
        [data]="doughnutChartData"
        [labels]="doughnutChartLabels"
        [chartType]="doughnutChartType"
        [options]="doughnutChartOptions"
        [colors]="doughnutChartColors"
      ></canvas>
    </div>
    <div class="codes">
      <span class="in-store"
        >Persone in negozio
        <span class="number"
          >{{ inStoreCodes.length }} / {{ store.max_in_store }}</span
        ></span
      >
      <span class="in-queue"
        >Persone in coda
        <span class="number"
          >{{ inQueueCodes.length }} / {{ store.max_queue }}</span
        ></span
      >
    </div>
  </div>
  <div class="queue-codes codes">
    <div class="codes-header">Codici in Coda</div>
    <div class="code-container" *ngFor="let code of inQueueCodes">
      <span class="code">{{ code.code }}</span>
      <span class="date">{{ code.updated_at }}</span>
      <span class="remove" (click)="removeCode(code)"
        ><i class="fas fa-minus-circle remove-button"></i
      ></span>
    </div>
  </div>
  <div class="store-codes codes">
    <div class="codes-header">Codici in Negozio</div>
    <div class="code-container" *ngFor="let code of inStoreCodes">
      <span class="code">{{ code.code }}</span>
      <span class="date">{{ code.updated_at }}</span>
      <span class="remove" (click)="removeCode(code)"
        ><i class="fas fa-minus-circle remove-button"></i
      ></span>
    </div>
  </div>
</div>
